// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower


$visual-grid: true !global;
$accent-color: #1a80b6; //blue
$red: #F44336; //red
$border-radius: 2px;
$mobile: new-breakpoint(max-width 768px);
$section-background-color: #2d2d2d;
$section-text-color: #FFF;
$footer-color: darken($section-background-color, 10%);
$body-background: darken($section-background-color, 5%);

html {
  font-size: 1em;
  @include media($mobile) {
    font-size: 0.75em;
  }
}

body {
  background-color: $body-background;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.3em;
  font-weight: 400;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 300;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
  @include media($mobile) {
    font-size: 3em;
  }
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.75em;}

h4 {
  font-size: 1.414em;
  text-transform: none;
}

small, .font_small {font-size: 0.707em;}


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.rg-6{
  @include span-columns(6);
}
.rg-12{
  @include fill-parent;
}
.sm-12 {
  @include media($mobile) {
    @include fill-parent;
  }
}
.circle{
  @include size(125px);
  border-radius:100%;
  overflow: hidden;
}
.center{
  margin: 0 auto;
}
.adjust-h{
  width:100%;
  height:auto;
}
.adjust-v{
  height:100%;
  width:auto;
}

.absolute{
  position:absolute;
}

.flex-centered{
  @include align-items(center);
  @include display(flex);
  @include justify-content(flex-center);
  height:99vh;
  .flex-item{
     @include flex(1);
  }
}

.btn{
  padding: 5px;
  padding: 10px 15px 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  font-weight:100;
  font-weight: regular;
  transition: all 0.5s;
  margin-top:10px;
  margin-bottom:10px;
  height: 60px;
  padding-left: 25px;
  padding-right: 25px;
  a{
    text-decoration: none;
    color:white;
    font-weight:100;
    transition: all 0.5s;
    p{
      margin:0px;
    }
  }
  &.btn-block{
    width:auto;
    display: block;
    @include media($mobile) {
      width:90%;
    }
  }
  &.btn-default{
    background-color:transparent;
  }
  &.btn-default:hover{
    background-color: $accent-color;
    border-color: $accent-color;
    a{
      color:white;
    }
  }

}
a{
  color:$accent-color;
  &.white-link{
    color:white;
  }
}
@include selection {
  background-color: lighten($accent-color, 10%);
}
.pull-left{
  float:left;
}
.pull-right{
  float:right;
}
.text-center{
  text-align:center;
}

.accent-text{
  color:$accent-color;
  font-weight: 400;
}
.red-text{
  color:$red;
  a{
    color:$red;
  }
}
.semi-bold{
  font-weight:600;
}

.row{
  @include row();
  @include fill-parent;
}

section{
  position:relative;
  z-index:10;
  color: $section-text-color;
  //background-color:darken($section-background-color, 5%);
  background-color:$section-background-color;
  @include fill-parent;
  @include outer-container(100%);
  @include row();
  h1{
    color: white;
    font-weight:100;
  }
  hr{
    border-color:transparent;
  }
  .section-content{
    @include padding(15vh 15vw 10vh 15vw);
    background-color: $section-background-color;
    width:80%;
    margin-left:10%;
    padding-left:5%;
    padding-right:5%;
    overflow:hidden;
    min-height:98vh;
  }
}

#intro{
  min-height:100vh;
  background-color:black;
  color:white;
  @include pad(0);  
  .background{
    position:absolute;
    z-index:0;
    min-height: 100vh;
    @include fill-parent;
    background-image: url("../images/tie.jpeg");
    background-color:gray;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    // @include filter(blur(5px));
  }
  .foreground{
    position:absolute;
    z-index:10;
    min-height: 100vh;
    @include fill-parent;
    background-color:rgba(0,0,0, 0.5);    
    h1, h2, h3, h4 {
      margin: 0.25em 0 0.25em;
      font-weight: inherit;
      line-height: 1;
      text-transform: none;
    }
    h4{
      font-weight: 300;
    }
    .circle{
      margin-bottom:1vh;
    }
  }
}

#about{
  .section-content{
    background-color: darken($accent-color,5%);
  }
  h4{
    margin:2em;
  }
}

#footer{
  min-height: 150px;
  background-color:$footer-color;
  color:white;
  z-index:0;
  .content{
    width:100%;
    @include padding(2vh 5vw 2vh 5vw);
    bottom: 0px;
    position:fixed;

  }
  a{
    transition: all 0.5s;
  }
  a:hover{
    color:white
  }
}

#language-container{
  top: 0px;
  right: 15px;
  position:absolute;
  background-color: #000;
  z-index:100;
  height: 50px;
  width: 150px;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  text-align: center;
}
.navbar{
  position:fixed;
  z-index:100;
  width:100%;
  left: 0vw;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  .body{
    background:$footer-color;
    list-style: none;
    margin:0px;
    padding:0px;
    text-align: center;
    li{
      display:inline-block;
      p:nth-child(1){
        margin-top:20px;
        margin-bottom:0px;
      }
      p:nth-child(2){
        display:none;
      }
      .fa{
        padding-left:8px;
      }
      a{
        display:block;
        position:relative;
        .lower, .upper{
          transition: all 0.5s;
          text-align: left;
          min-height:100%;
          position: absolute;
          text-align: center;
        }
        .lower{
          width:100%;
          top:0px;
          color:white;
        }
        .upper{
          top: 0px;
          background: $accent-color;
          width:100%;
          height: 0%;
          min-height:0%;
          overflow:hidden;
          color:white;
        }
        .patch-because-reasons{
          opacity:0;
          padding: 10px 30px 10px 30px;
        }
      }
      #first-item{
        background: darken($accent-color, 10%);
        color:black;
      }
    }
    li:hover, li.active{
      .upper{
        height:120%;
      }
      .lower{
        height:80%;
      }
      #first-item .lower{
        height:100%;
      }
    }
    
  }
}

.fa{
  color: $accent-color;
  &.white{
    color:white;
  }
  &.red{
    color:$red;
  }
}
#license{
  margin: 0 auto;
  width: 80px;
  display: block;
}

.skill-list{
  .star-container{
    float:right;
  }
  li{
    list-style: none;
    padding-right: 8vw;
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom:-20px;
  }
  skill{
    p{
    padding-left:5px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:5px;
    }
    p, p>span>i{
      transition: all 0.5s;
    }
    p:hover>span>i {
      padding: 2px;
    }
    p:hover {
      background: $accent-color;
      .fa{
        color: white;
      }
    }
  }
}


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/preloader.gif) center no-repeat $body-background;
}

.mobile-navbar{
  display:none;
  @include media($mobile) {
      position: fixed;
      z-index: 9998;
      top: 0px;
      left: 0px;
      display: block;
      background-color: $footer-color;
      width: 100%;
      height: 40px;
      box-sizing: initial;
      text-align: left;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 6px;
  }
  .fa{
    font-size:35px;
  }
}
.hidden{
  @include media($mobile) {
    display:none;
  }
}